<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="localhost_SistemaGerenciamento_Connection" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL\SQLEXPRESS;user id=sa;password=12345;initial catalog=SistemaGerenciamento;Persist Security Info=true" />
        <add name="localhost_SistemaGerenciamento_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL\SQLEXPRESS;user id=sa;password=12345;initial catalog=SistemaGerenciamento;Persist Security Info=true" />
        <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL\SQLEXPRESS;user id=sa;password=12345;initial catalog=SistemaGerenciamento;Persist Security Info=true" />
        <add name="localhost_SistemaGerenciamento_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL\SQLEXPRESS;user id=sa;password=12345;initial catalog=SistemaGerenciamento;Persist Security Info=true" />
        <add name="Principal" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL\SQLEXPRESS;user id=sa;password=12345;initial catalog=SistemaGerenciamento;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Licensing" publicKeyToken="f89b4760ba7dcb6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>